In [1]:
import pandas as pd
import json

In [2]:
with open('tasks.json', 'r') as f:
    data = json.load(f)
df = pd.json_normalize(data)
df

    id                     description       category    status
0   13                   Homer Roxxorz        Simpson  complete
1   11  The further adventures of Bart  Bart, Simpson  complete
2  666  The further adventures of Lisa  Lisa, Simpson  complete